{% extends "base.html" %}

{% block title %} Map {% endblock %}

{% block head %}
<style>
   #map {
    height: 400px;
    width: 100%;
   }
</style>
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
  <div class="col-lg-8 col-md-8 col-sm-8" id="map" style="width: 800px; height: 500px;"></div>
</div>
<script>





  function initMap() {
    var houston = {lat: 29.7604267, lng: -95.3698028};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: houston
    });

    {% for item in mapdata %}

      var markers = {
          coords: {
            lat: {{ item.latitude }},
            lng: {{ item.longitude }} },
          content: '<h6>{{ item.description }}</h6><br><p>Name: {{ item.first_name }}</p><br><p>Adress: {{ item.address1 }}</p>'
      };


      // Loop through markers
      addMarker(markers);

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', //check if P.I.N event is open, else set default color
          animation: google.maps.Animation.DROP
        });

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    {% endfor %}
  }


</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2iL6ewJ-ZbMXwS2nTEsGXHZbzOOCkFWo&callback=initMap">
</script>
{% endblock %}
